version: '3.8'

services:
  jenkins:
    build: .
    container_name: jenkins
    dns:
      - 8.8.8.8
      - 1.1.1.1
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:/var/jenkins_home
    restart: unless-stopped
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock

volumes:
  jenkins_home: